.item{
    display: flex;
    column-gap: 10px;
    align-items: center;
    position: relative;
}
.content{
    border: 2px dashed #e0e0e0;
    display: flex;
    background-color: white;
    color: #878D9D;
    padding: 10px 20px;
    width: max-content;
}
input.content{
    color: black;
    font-size: 16px;
}
.container{
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    position: relative;
}
.control{
    display: flex;
    column-gap: 10px;
    position: absolute;
    left: calc(100% + 10px);
}
