.container{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
    min-width: 70px;
    z-index: 2;
}
.select{
    max-height: 30px;
}
.select,.option{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #878D9D;
    font-size: 12px;
    cursor: pointer;
}
.select:hover{
    opacity: 0.5;
}
.variables{
    margin-top: 3px;
    top: 100%;
    position: absolute;
}
.option:hover{
    color: black;
}
.variables{
    display: flex;
    flex-direction: column;
    min-width: 100%;
}